# Flask server configuration.
FLASK_APP=app
FLASK_ENV=development

# Change the following values for local development.
TRELLO_KEY=
TRELLO_TOKEN=
TRELLO_BOARD_ID=
TRELLO_TODO_LIST=
TRELLO_IN_PROGRESS_LIST=
TRELLO_COMPLETED_LIST=